{% extends 'layouts/base.html' %}
{% block title %}
    new Post 
{% endblock %}
{% block content %}
<h1>new post</h1>

    <div class = "container">
        <div class = "row">
            <div class = "col-md-8 mx-auto">
                <form action="" method="POST" enctype="multipart/form-data">
                {% for field in form %}
                    <div class="form-group">
                    {% csrf_token %}
                    <strong>{{ field.label_tag }}</strong>
                    <div class = 'container'>{{ field }}</div>
                    {% if field.help_text %}
                    <p class = "help">{{field.help_text}}</p>
                    {% endif %}
                    </div>
                {%  endfor %} 
                </br>
                <input type ="submit" class = "btn btn-primary" value = "Create new post">
                </form>
            </div>
        </div>
    </div> 
{% endblock %}